.vs/*

JsonSerialization/bin/*
JsonSerialization/obj/*
JsonSerialization/Debug/bin/*
JsonSerialization/Debug/obj/*


TestTaskApi/bin/*
TestTaskApi/obj/*
TestTaskApi/Debug/bin/*
TestTaskApi/Debug/obj/*


